

<div id="micropost-<%= micropost.id %>" class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
  <img src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/14080058_1375193189162262_5980865597750089307_n.jpg?oh=536051238f892af86edc98c66f8f20be&oe=5AAE92B5" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity w3-padding-top f-font-time-post">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span>
  <h4><%= link_to micropost.user.name, micropost.user,class: "f-margin-small" %></h4><br>
  <hr class="w3-clear">
  <p><%= micropost.content %></p>
  <div class="w3-row-padding" style="margin:0 -16px">
    <div class="">
      <a href=""><img src="https://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2017_10_17/image001_12.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom"> </a>
    </div>

  </div>
  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like
  </button>
  <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment
  </button>
</div>