.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.color-bar {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
}
.bg-funlife{
  background:#f5f7f8;
}
.form-body{
  background: rgba(0, 0, 0, 0.34);
  padding:20px;
  //animation-name: example;
  //animation-duration: 4s;
}

.f-padding-top {
  padding-top: 50px;
}
.change-color{
  animation-name: example;
  animation-duration: 8s;
}

///* Safari 4.0 - 8.0 */
//@-webkit-keyframes example {
//  0%   {background-color:red; left:0px; top:0px;}
//  25%  {background-color:yellow; left:200px; top:0px;}
//  50%  {background-color:blue; left:200px; top:200px;}
//  75%  {background-color:green; left:0px; top:200px;}
//  100% {background-color:red; left:0px; top:0px;}
//}

/* Standard syntax */
@keyframes example {
  0%   {left: 0px;top: 0px}
  25%  {background-color: #ff4b78
  }
  50%  {background-color: #98911d  }
  75%  {background-color: #009688}
  100% {background-color: #3f51b5}
}

.innter-form{
  padding-top:20px;

}
.final-login li{
  width:50%;
}

.nav-bar-text-style{
  font-size: 15px;
  font-weight: bold;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login p{
  margin:15px 0;
}
.social-login ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width:33%;
  float:left;
  clear:fix;
}

.text-white-bold {
  color: white;
  font-weight: bold;
}
.text-white {
  color: white;
}


.text-black-bold {
  color: #0430b2;
  font-weight: bold;
}
.text-black {
  color: black;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  display:block;
}
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.text-size-small{
  font-size: 13px;
}


.margin-super-small {
  margin-top: 5px;
}

//#4267b2