#div-cover {
  height: 340px;
  position: relative;
  border-color: #bfbfbf;
  border-style: solid;
  border-top: none;
  border-width: 0.5px;
}

#cover .info-profile {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 100px;

}

#name{
  position: absolute;
  bottom: 0px;
  left:200px;
  width: 260px;
  height: 60px;

}

#button-info{
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 300px;
  height: 100px;

}

.button-default {
  position: absolute;
  bottom: 5px;
  right: 0px;
  height: 26px;
  background-color: #f6f7f9;
  border: solid;
  border-width: 0.5px;
  border-color: #4e5051;
}

#button-info .text-button-default {
  padding-left: 10px;
  padding-right: 5px;
  font-size: 12px;
  text-decoration: none;
  color: #45494f;
  font-weight: bold;
}

.text-notifi {
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
  float: right;
  margin-top: 2.5px;
  margin-right: 9px;
  font-size: 10px;
  text-decoration: none;
  color: white;
  background-color: #fa3e3e;
}
#button-info .button-default:hover {
  background: #e0dde6;
}

#div-cover .cover {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 295px;
  background: url("bg_fox.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#tab-cover .ul-tab-cover{
  position: absolute;
  width: 75%;
  height: 45px;
  bottom: 0px;
  right: 0px;
}


#div-cover .tab-cover{
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 0px;
  right: 0px;
}

#div-cover .avatar {
  width: 168px;

  height: 168px;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: url("haphuong.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

///* */
//
//div[contenteditable=true] {
//
//  width: 100%;
//  padding: 5px;
//}
//
//pre {
//  background:#EEE;
//  padding:5px;
//  width: 290px;
//}

#topTab {
  list-style-type: none;
  width: 100%;
  position: absolute;
  height: 44px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;

}

#topTab li {
  display: block;
  float: right;
  margin: 0 0 0 0px;
  height: 44px;

}

#topTab li.left {
  margin: 0;
}

#topTab li a {
  display: block;
  float: right;
  color: #365899;
  background: #e9ebee;
  text-align: center;
  text-decoration: none;
  padding: 11px 17px 0 18px;
  height: 44px;
  border-style: solid;
  border-width: 0.03px;
  border-top: none ;
  border-left: none ;
  border-bottom: none ;
  border-color: #d5d5d5;
}

#topTab li a.right {
  padding-right: 19px;
}

ul#topTab li a:hover {
  background: #d8d6d6;
}

ul#topTab li a.current {
  background: #365899;
  color: #e9ebee;
}

ul#topTab li a.current:hover {
  color: #e7ecee;
  background: #2f4c84;
}

.f-font-time-post {
  font-size: 12px;
  font-style: italic;
}

.f-button {
  color: #000;
  background-color: #f7f9fc;
  border: solid;
  padding: 8px 16px;
  border-color: #d9dadd;
  border-width: 0.5px;

}
.f-button:hover {
  background-color: #f7f9fc;
  border: solid;
  border-color: #e9ebee;
}