<header>
  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar color-bar w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large color-bar"><i class="fa fa-home w3-margin-right"></i>FunLife</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button w3-padding-large" title="Notifications">
          <i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
          <a href="#" class="w3-bar-item w3-button">One new friend request</a>
          <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
          <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
        </div>
      </div>
      <button type="button" class="w3-bar-item w3-button w3-padding-large color-bar w3-right " data-toggle="modal" data-target="#login" data-backdrop="static">
        <i class="fa fa fa-angle-double-down w3-margin-right">
        </i>Login
      </button>
      <div  class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
              </ul>
            </div>
            <div class="modal-body">
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in" id="why">
                  <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                  <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com</a> for any other inquiries.</p>
                </div>
                <div class="tab-pane fade active in" id="signin">
                  <form class="form-horizontal">
                    <fieldset>
                      <!-- Sign In Form -->
                      <!-- Text input-->
                      <div class="control-group">
                        <label class="control-label" for="userid">Alias:</label>
                        <div class="controls">
                          <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
                        </div>
                      </div>

                      <!-- Password input-->
                      <div class="control-group">
                        <label class="control-label" for="passwordinput">Password:</label>
                        <div class="controls">
                          <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                        </div>
                      </div>

                      <!-- Multiple Checkboxes (inline) -->
                      <div class="control-group">
                        <label class="control-label" for="rememberme"></label>
                        <div class="controls">
                          <label class="checkbox inline" for="rememberme-0">
                            <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me">
                            Remember me
                          </label>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="control-group">
                        <label class="control-label" for="signin"></label>
                        <div class="controls">
                          <button id="signin" name="signin" class="btn btn-success">Sign In</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                <div class="tab-pane fade" id="signup">
                  <form class="form-horizontal">
                    <fieldset>
                      <!-- Sign Up Form -->
                      <!-- Text input-->
                      <div class="control-group">
                        <label class="control-label" for="Email">Email:</label>
                        <div class="controls">
                          <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="control-group">
                        <label class="control-label" for="userid">Alias:</label>
                        <div class="controls">
                          <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
                        </div>
                      </div>

                      <!-- Password input-->
                      <div class="control-group">
                        <label class="control-label" for="password">Password:</label>
                        <div class="controls">
                          <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                          <em>1-8 Characters</em>
                        </div>
                      </div>

                      <!-- Text input-->
                      <div class="control-group">
                        <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                        <div class="controls">
                          <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                        </div>
                      </div>

                      <!-- Multiple Radios (inline) -->
                      <br>
                      <div class="control-group">
                        <label class="control-label" for="humancheck">Humanity Check:</label>
                        <div class="controls">
                          <label class="radio inline" for="humancheck-0">
                            <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                          <label class="radio inline" for="humancheck-1">
                            <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                        </div>
                      </div>

                      <!-- Button -->
                      <div class="control-group">
                        <label class="control-label" for="confirmsignup"></label>
                        <div class="controls">
                          <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <center>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </center>
            </div>
          </div>


        </div>
      </div>

      <button type="button" class="w3-bar-item w3-button w3-padding-large color-bar w3-right" data-toggle="modal" data-target="#signup">
        <i class="fa fa fa-angle-double-down  w3-margin-right">
        </i>Signup
      </button>
      <div class="modal fade" id="signup" role="dialog">
        <div class="modal-dialog">



        </div>
      </div>
      <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><img src="" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>-->
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
  </div>

</header>